<% provide(:title, "About") %>
<h1>About</h1>
<div class="row">
  <p>
    Why does this site exist? Well, originally I (Nick) wanted a place to talk about film. Then
    I realized that I have some talented friends that are knowledgeable of a variety of cool topics. After minimal coercion they
    were on board to contribute to the site, and FML was born. We're totally not experts on this stuff, we just want to
    communicate a unique, funny, and accessible perspective on things. Enjoy!
  </p>
      <section class="user_info">
        <div class="col-md-8">
        <h2>Nick Resnick - Film</h2>

        <p>
          Nick is a senior at the University of Michigan. Words that describe Nick: unusual, weird, odd. <br> <br>
          Nick loves film, long-boarding, snowboarding, exercise, having conversations, and twitter. Nick also enjoys
          the third person because it makes him feel like someone would actually talk about him that way. <br> <br>
          Nick's CV (updated as of October 2015) can be found <%= link_to "here", "/Resume_postCustora.pdf" %>. <br> <br>
        </p>
        </div>
        <div class="col-md-3.5">
          <section class="center">
            <h2><%= image_tag 'good.jpg', height: 250, width: 220 %></h2>
          </section>
        </div>
      </section>

      <section class="user_info">
        <div class="col-md-8">
        <h2>Spencer Goodman - Music</h2>
        <p>
          Spencer is also a senior at UofM. Words that describe Spencer: SoCal, california, cali.  <br> <br>
          Spence is the soundcloud-famous DJ <a href="https://www.soundcloud.com/m-wc" target="_blank">Mid West Coast</a>. <br> <br>
          His interests include entertainment, dancing, and hoppy beers. If you want to reach Spence,
          keep in mind that he engages in hot yoga every evening at 6:30 PM, and cannot be disturbed then. <br> <br>
        </p>
        </div>
        <div class="col-md-3.5">
          <section class="center">
            <h2><%= image_tag 'spencer.jpg', height: 250, width: 220 %></h2>
          </section>
        </div>
      </section>

      <section class="user_info">
        <div class="col-md-8">
        <h2>Sam Corey - Life</h2>
        <p>
          Sam is a freshman at UT Austin. Just kidding he's a senior at UofM. Ha. Words that describe Sam: Israel, Palestine, conflict. <br> <br> Outside of class,
          he contributes to the <a href="https://www.michigandaily.com" target="_blank">Michigan Daily</a>, writing on a plethora of topics.
          Between school, writing, tutoring, and jogging, Sam has the work ethic of a Greek Spartan.  <br> <br>
          Sam's CV (updated as of October 2015) can be found <%= link_to "here", "/Resume-2.pdf" %>.
        </p>
        </div>
        <div class="col-md-3.5">
        <section class="center">
          <h2><%= image_tag 'sam.jpg', height: 250, width: 220 %></h2>
        </section>
        </div>
      </section>

</div>