<% provide(:title, "About") %>
<h1>About</h1>
<div class="row">
    <aside class="col-md-9">
      <section class="user_info">
        <h2>Nick Resnick - Film</h2>
        <p>
          Nick is a dual degree student in Business Administration and Mathematics at the University of Michigan. Besides continually nerding out,
          he is involved with youth entrepreneurship education in Detroit.<br> <br>
          Nick loves film, long-boarding obnoxiously around campus, snowboarding, working out, having conversations, and twitter. Nick also enjoys
          the third person because it makes him feel like someone would actually talk about him that way. <br> <br>
          Nick's CV (updated as of October 2015) can be found <%= link_to "here", "/Resume_postCustora.pdf" %>.
        </p>
        <aside class="col-md-3">
            <section class="center">
             <%= image_tag 'family.jpg', height: 200, width: 133 %>
            </section>
        </aside>
      </section>
      <section class="user_info">
        <h2>Spencer Goodman - Music</h2>
        <p>
          Spencer is an Economics major and Business Administration minor at, yes you guessed it, UofM. When he's not calculating economic surplus,
          Spence becomes the soundcloud-famous DJ <a href="https://www.soundcloud.com/m-wc" target="_blank">Mid West Coast</a>. <br> <br>
          His interests include entertainment, dancing, all things SoCal, and hoppy beers. If you want to reach Spence,
          keep in mind that he engages in hot yoga every evening at 6:30 PM, and cannot be disturbed then. <br> <br>
        </p>
      </section>
      <section class="user_info">
        <h2>Sam Corey - Life</h2>
        <p>
          Sam is a double major between Political Science and Psychology with a minor in History also at UofM. Outside of class,
          he contributes to the <a href="https://www.michigandaily.com" target="_blank">Michigan Daily</a>, writing on a plethora of various lifestyle topics. <br> <br>
          Between school, writing, tutoring, and jogging, Sam has the work ethic of a Greek Spartan. His ideal night is curling up
          on the couch with friends discussing anything from love to the Palestinian-Israeli conflict. <br> <br>
          Sam's CV (updated as of October 2015) can be found <%= link_to "here", "/Resume-2.pdf" %>.
        </p>
      </section>
    </aside>
      <div class="row">
        <aside class="col-md-3.5">
          <section class="center">
            <%= image_tag 'family.jpg', height: 200, width: 133 %>
          </section>
          <section class="center">
            <%= image_tag 'family.jpg', height: 200, width: 133 %>
          </section>
          <section class="center">
            <%= image_tag 'family.jpg', height: 200, width: 133 %>
          </section>
        </aside>
      </div>
</div>