
    <div class="jumbotron">
      <h1>Film & Music & Life Blog</h1>

      <h2> Everything from film criticism to life criticism. Guest posts from the roommates. <br>
        Check out the archive <%= link_to "here", posts_path %>.
      </h2>
    </div>


<div class="row">
</div>
<div class="row">
  <div class="col-md-7">
      <%= render 'shared/feed' %>
  </div>
  <div class="col-md-5">
   <div class="jumbotron jumbotron-special">
    <h2>Most Recent Posts</h2>
     <table>
       <tbody>
        <% @posts.each do |post| %>
           <tr>
            <b><td><%= link_to post.title, post %></b><i>  <%=post.topic.name %></i></td>
            <td><%= post.created_at.to_date %></td>
             <td><%="Views:"%><%= post.impressionist_count %></td>
           </tr>
    <% end %>
    </tbody>
     </table>
    </div>
  </div>
  </div>
<div>
  <% if logged_in? %>
    <%= link_to 'New Post', new_post_path %>
  <% end %>
</div>



