<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <br>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Guess feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class = "center jumbotron">

        <h1>Nick Resnick's Film and Entertainment Blog</h1>

        <h2> Everything from film criticism to life criticism. Check out the blog
          <%= link_to "here", posts_path %>
        </h2>
        </div>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @posts.each do |post| %>
          <tr>
            <td><%= post.name %></td>
            <td><%= post.title %></td>
            <td><%= post.content %></td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>



