
<div class="jumbotron">
  <h1>Film, Music, & Life Blog</h1>
  <h2> Everything from film criticism to life criticism </h2>
</div>

<div class="row">
  <div class="col-md-7">
      <%= render 'shared/feed' %>
  </div>
  <div class="col-md-5">
   <div class="jumbotron jumbotron-special">
    <h2 id="h2-special">Most Recent Posts</h2>
     <table>
       <thead>
       <td><h5>Post</h5></td>
       <td><h5>Date Posted</h5></td>
       </thead>
       <tbody>
        <% @recent_posts.each do |post| %>
           <tr>
            <b><td><%= link_to post.title, post %></b></td>
            <td><%= post.created_at.to_date %></td>
             <td><%="Views: "%><%= post.impressionist_count %></td>
           </tr>
    <% end %>
    </tbody>
     </table>
    </div>
    <hr>
    <div>
      <h2 id="h2-special"> Soundcloud Song of the Week</h2>
      <iframe width="100%" height="250" scrolling="no" frameborder="no"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/205409098&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
      </iframe>
    </div>
    <hr>
    <div>
      <h2 id="h2-special">Movie Recommendation of the Week</h2>
      <h3 class="center"><%= image_tag 'About_Time_Poster.jpg', height: 275, width: 362 %></h3>
      <div class="center">
      <span class="imdbRatingPlugin" data-user="ur63941103" data-title="tt2194499" data-style="p3"><a href="http://www.imdb.com/title/tt2194499/?ref_=plg_rt_1"><img src="http://g-ecx.images-amazon.com/images/G/01/imdb/plugins/rating/images/imdb_37x18.png" alt=" About Time
(2013) on IMDb" />
      </a></span><script>(function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js";stags.parentNode.insertBefore(js,stags);})(document,'script','imdb-rating-api');</script>
      </div>
      <div>
       <p>
         <strong>Nick's Consensus: </strong><i>About Time</i> surprises everyone, including itself, by transcending typical coming-of-age, romance, or familial movies. This spectacularly geniune and touching
          movie mixes humor, fantasy, and grief to communicate an old theme in a completely new light.
       </p>
      </div>
    </div>
  </div>
</div>
<div>
  <% if logged_in? %>
    <%= link_to 'New Post', new_post_path %>
  <% end %>
</div>



