<p id="notice"><%= notice %></p>

<%= form_for(@search, :url => { :action => 'index' }, :html => {:method => :get} ) do |f| %>
    <%= f.text_field(:name) %>
    <%= f.submit "Filter List" %>
<% end %>

<%= @topics.each do |topic| %>
    <% render topic.posts %>
<% end %>

<br>
<% if logged_in? %>
    <%= link_to 'New Topic', new_topic_path %>
<% end %>
