<p id="notice"><%= notice %></p>

<%= form_for(@search, :url => { :action => "index" }, :html => {:method => :get} ) do |f| %>
    <%= f.select(:name) %>
    <%= f.submit "Filter List" %>
<% end %>



<br>
<% if logged_in? %>
    <%= link_to 'New Topic', new_topic_path %>
<% end %>
