<p id="notice"><%= notice %></p>

<%= simple_form_for @topics, :method => 'get' do %>
    <%= collection_select :topic, :id, @topics, :id, :name, :prompt => "Select Topic" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>



<br>
<% if logged_in? %>
    <%= link_to 'New Topic', new_topic_path %>
<% end %>
