<p id="notice"><%= notice %></p>

  <tbody>
    <% @topics.each do |topic| %>
        <td><%= topic.name %></td>
        <% topic.posts.each do |post| %>
          <td><p><%= post.name %></p></td>
          <td><p><%= raw truncate(post.content, :length => 80, :escape => false)%></p></td>
      <% end %>
    <% end %>
  </tbody>

<br>

<%= link_to 'New Topic', new_topic_path %>
