<p id="notice"><%= notice %></p>

  <tbody>
    <% @topics.each do |topic| %>
        <td><%= link_to topic.name, topic %></td>
      <br>
      <br>
        <% topic.posts.each do |post| %>
  <br><br>
          <td><p><%= post.title %></p></td>
          <td><p><%= raw truncate(post.content, :length => 80, :escape => false)%></p></td>
      <% end %>
    <% end %>
  </tbody>

<br>

<%= link_to 'New Topic', new_topic_path %>
