<% provide(:title, "#{@topic.name.capitalize} Posts") %>
<head>
  <%= display_meta_tags %>
</head>
<div class="container">
<h1>
  <%= @topic.name.capitalize %> Posts
</h1>
<% if @topic.posts.any? %>
    <h3>Posts (<%= @topic.posts.count %>)</h3>
    <hr>
    <p>
      <%= render 'shared/feed' %>
    </p>
<% end %>

<h4><%= link_to 'Back', url_for(:back) %></h4>
</div>