<table>
<tbody>
<% @posts.each do |post| %>
<div class="row">
  <td>
        <h3><%= link_to post.title, post %></h3>
    <p>by <%= link_to post.user.name, post.user %> on <%= post.created_at.strftime('%B %d, %Y')%></p>
        <p>
          <%=  truncate(post.content, :length => 30, :escape => false).html_safe %>
        </p>
        <h5><%= post.comments.count %> Comments</h5>
  </td>
  <td>
  <h3><%= image_tag post.picture.url, :height => "60%", :width => "60%" %></h3>
  </td>
</div>
    <hr>
<% end %>
</tbody>
</table>
