<table>
  <thead>
  <tr>
    <th><p>Author</p></th>
    <th><p>Title</p></th>
    <th><p>Post</p></th>
    <th><p>Date</p></th>
    <th><p>Topic</p></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
      <tr>
        <td><p><%= link_to post.user.name, post.user %></p></td>
        <td><p><%= link_to post.title, post %></p></td>
        <td><p><%= raw truncate(post.content, :length => 80, :escape => false) %></p></td>
        <td><p><%= post.created_at.to_date %></p></td>
        <td><p><%= post.topic %></p></td>
        <td><p><%= image_tag post.picture.url, :height => "50%", :width => "50%" %></p></td>
      </tr>
  <% end %>
  </tbody>
</table>
