<% @posts.each do |post| %>
<div class="row">
  <div class="large-6 columns">
    <div class="row">
      <div class="large-2 columns small-3">
        <h3><%= link_to post.title, post %></h3>
        <strong>
          <p>by <%= link_to post.user.name, post.user %></p>
        </strong>
        <%= image_tag post.picture.url, :size => "50%" %>
      </div>
      <div class="large-10 columns">
        <p>
          <%= raw truncate(post.content, :length => 80, :escape => false)%></p>
        <h5><%= post.comments.count %> Comments</h5>
      </div>
    </div>
  </div>
</div>
    <hr/>
<% end %>
