<%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :topic, :include_blank => false %>
      <%= f.input :title %>
      <%= f.input :content, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } %>
      <br>
      <span class="picture">
        <p>Try to make pic dimensions close to 2500 x 1600</p>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %> <%# to validate both internally and on the browser %>
      </span>
    </div>
    <br>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>

<script type="text/javascript">
    $('#post_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
</script>