<p id="notice"><%= notice %></p>

<%= search_form_for @q do |f| %>

    # Search if the name field contains...
    <%= f.label :topic %>
    <%= f.select :topic %>

    <%= f.submit %>

    <% end %>

<h1>Posts Archive</h1>
<table>
  <%= render 'shared/feed' %>
</table>

