<p id="notice"><%= notice %></p>
<div class="container">
<h1>Posts Archive</h1>
<div align="center"> <%= form_for posts_path, :method => 'get' do %>
    <p>
      <%= collection_select(:search, :topic_id, Topic.all, :id, :name, {prompt: "All Topics"}, {:class => 'my-custom-class'})%>
      <%= submit_tag "Search", :name => nil, :class => 'my-custom-class'%>
    </p>
<% end %>
  </div>
<hr>
<%= render 'shared/feed' %>
</div>