<p id="notice"><%= notice %></p>

<%= form_for posts_path, :method => 'get' do %>
    <p>
      <%= collection_select(:search, :topic_id, Topic.all, :id, :name, prompt: "Filter by Topic", selected: [1,2,3] )   %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<%= render 'shared/feed' %>
