<h1>New Post</h1>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>

<%= form_for @page do |form| -%>
    <%= form.cktext_area :notes, :class => 'someclass', :ckeditor => {:language => 'uk'} %>gi
    <%= form.cktext_area :content, :value => 'Default value', :id => 'sometext' %>
    <%= cktext_area :page, :info, :cols => 40, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini'} %>
<% end -%>