<h4><%= link_to 'Back', url_for(:back) %></h4>

<p id="notice"><%= notice %></p>
<div class="row">
  <h1>
    <%= @post.title %>
  </h1>
  <section>
<p>
  <%= raw @post.content %>
</p>
  </section>

<h2>Comments (<%= @post.comments.count %>)</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>
</div>