<h4><%= link_to 'Back', url_for(:back) %></h4>

<p id="notice"><%= notice %></p>
<div class="row">
  <h1>
    <%= @post.title %>
  </h1>
  <hr>
  <div clas="col-md-7">
    <section>
      <p>
  <%= raw @post.content %>
</p>
  </section>
</div>

  <hr>
<h2>Comments (<%= @post.comments.count %>)</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>
</div>

<% if logged_in? %>
    <hr>
    <h2><%= link_to "delete", @post, method: :delete,
                data: { confirm: "You sure?" } %></h2>
<% end %>